@media all and (max-width: 1000px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }
  
  .heading h3 {
    font-size: 20px;
  }
  
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }
}

@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }

.btn {
    width: 50%;
  }

  .top-wrapper {
    text-align: left;
  }

  .top-wrapper h1 {
    font-size: 18px;
    line-height: 20px;
    text-align: left;
  }
  
  .top-wrapper h3 {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
  }

 .top-wrapper ol {
  opacity: 1;
  font-size: 12px;
  margin: 14px;
  text-align: left;
}

.top-wrapper li {
  opacity: 1;
  font-size: 12px;
  margin: 14px;
  text-align: left;
}
  
.lesson {
    width: 100%;
  }
  footer {
    text-align: center;
  }
}
